@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif
    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .wrapper {
    display: flex;
    height: 100vh;
    

  }
  
  .containerone {
    width: 35vw;
    height: 100%;
    background-image: url(ibrahim-shabil-vouy8AF8JuM-unsplash\ \(1\).jpg);
    background-size: cover;
} 

.logo {
    height: 57%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logodiv {
    height: 25%;
    width: 100%;
    background-color: rgba(3, 3, 24, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.odinlogo {
    height: 85%;
}

.odintext {
    color: white;
    font-size: 6rem;
    font-family: 'norsebold';

}
.containertwo {
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 252, 255);
    height: 100%;
    width: 70%;
    
}

.header {
    height: 35%;
    padding: 60px;
    display: flex;
    align-items: flex-end;
    font-weight: 900;
    font-size: 1.8rem;
}
.headertext {
    width: 100%;
}
form {
    height: 70%;
}
.formcontainer {
    height: 50%; 
    background-color: white;
    box-shadow:0px 5px 10px rgba(75, 75, 75, 0.327);
    padding-left: 60px;
    padding-top: 10px;
    

}   

input, label {
    display: block;
    
}
input {
    width: 80%;
    max-width: 500px;;
    height: 2.5rem;
    border: 1px #E5E7EB solid;
}
input:focus {
    border: 4px rgb(36, 151, 144) solid;
    box-shadow: 2px 2px 5px rgba(3, 3, 24, 0.2);
    border-radius: 2px;
}


label {
    font-size: .8rem;
    letter-spacing: .2rem;
    margin-top: 15px;
}
.formtext {
    font-size: 1.5rem;
    
}



.innerform {
    display: flex;
    margin-top: 15px;
    width: 100%;
}

.form1, .form2 {
    width: 50%
}

#btn {
    height: 50px;
    width: 20%;
    margin: 50px 0px 10px 60px;
    border-radius: 12px;
    background-color:rgb(36, 151, 144);
    border: none;
    box-shadow: 4px 4px 4px rgba(3, 3, 24, 0.4);
    font-size: 1.3rem;
    font-weight: 800;
    color: white;
    cursor: pointer;
}

.login{
    font-size: .9rem;
    margin: 30px 0px 0px 60px;
    font-weight: 600;
}
 p > a {
    text-decoration: none;
    color:rgb(36, 151, 144);
 }